.navbar-dark {
  background-color: black !important;
}

section {
  background-color: gray;
  color: white;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  min-height: 80vh;
  max-width: 100vw;
  padding: 1rem;
}

.card {
  flex-wrap: wrap !important;
  margin: 1.6%;
  text-shadow: 2px 2px black;
  width: 30% !important;
}

.jumbotron {
  background-image: url('./maxresdefault.jpg') !important;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center !important;
  text-align: center !important;
  text-shadow: 2px 2px black;
}

.jumbotron small {
  font-size: 1rem;
}

.lead {
  font-size: 28px !important;
}

.btn-warning {
  color: white !important;
}

button a {
  color: white !important;
  text-decoration: none !important;
}

.routerNav button {
  margin: 0 1rem;
  width: 100px !important;
}

img {
  height: auto !important;
}

@media all and (max-width: 980px) {
  .card {
    flex-wrap: wrap !important;
    margin: 1.4%;
    width: 47% !important;

  }

}

@media all and (max-width: 700px) {
  .card {
    flex-wrap: wrap !important;
    margin: 1%;
    width: 98% !important;
  }
}

@media all and (max-width: 480px) {
  .routerNav button {
    margin: 0 0.5rem;
    width: 80px !important;
  }

  h1.display-3.text-warning {
    font-size: 3rem;
  }

  .lead {
    font-size: 22px !important;
  }
}
